header {
  background-color: #faf0e6 !important;
  color: #000 !important;

  .navbar {
    font-family: "Cookie", cursive !important;
    font-size: 28px;
    text-decoration: none;
    color: #000;
  }
}
